@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Change status";
}

@model RestaurantApplication.Models.Order
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h3>All Active Orders</h3>
<br />

<div class="card-deck">
    <div class="card m-3">
        <img class="card-img-top" src="~/images/food.JPG" />
        <div class="card-header">
            <h5>Order ID: @Model.OrderId</h5>
            <h5>Menu Item: @Model.MenuId</h5>
            <h5>Quantity: @Model.Quantity</h5>
            <h5>Order Time: @Model.OrderPlaced</h5>
            <h5>Order Status: @Model.Status</h5>
        </div>
        <div class="card-footer text-center">
            <div class="form-group row">
                <label asp-for="Status" class="col-sm-2 col-form-label"></label>
                <div class=" col-sm-10">
                    <select asp-for="Status" asp-items="Html.GetEnumSelectList<StatusType>()">
                        <option selected="selected" value="">Please select</option>
                    </select>
                </div>
            </div>
            <a asp-controller="Order" asp-action="Change" asp-route-id="" class="btn btn-primary">Change Status</a>
        </div>
    </div>
</div>